body {
  background: url(/Image/Bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#start {
  background-color: rgb(17, 141, 32);
  color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Rosemary", cursive;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
}
#start:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px black;
  transform: translateY(-10px);
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;
  border-radius: 20px;
  padding: 10px;
}
/* .mainQuiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    
} */

#question {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choices {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.choice:hover {
  border: 2px solid rgb(17, 141, 32);
  box-shadow: 5px 5px rgb(17, 141, 32);
}
.choice #thinkLottie {
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 10px;
}
#thinkLottie {
  margin-top: 100px;
  position: absolute;
  right: 20px;
}

#scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}
#score{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    font-size: 2.5rem;
    font-family: "Rosemary", cursive;
}
@media (max-width: 600px) {
  #choices {
    grid-template-columns: repeat(1, auto);
  }
  #quiz {
    margin-top: 60px;
  }
  .choice {
    width: 300px;
  }
  #ready {
    font-size: 2rem !important;
  }
  #question {
    font-size: 2rem !important;
  }
}
